<div class="container" *ngIf="mode == 'created'">
  <div class="row">
    <div class="col-sm-4 col-md-3"><img src="{{img}}"></div>
    <div class="col-sm-4 col-md-5">{{fullname}}<br>{{bio}}<br><a role="button" (click)="edit()">edit profile</a></div>
    <div class="col-sm-4">Price: {{price}}<br>Market Cap: {{mktCap}}<br> 
      <button class="btn btn-success">Buy</button><button class="btn btn-default">Sell</button>
    </div>
  </div>
</div>

<div class="container" *ngIf="mode == 'creating'">
  <div class="row">
    <div class="col-sm-6">Your stock is being created! It can take a few minutes to be mined.  Wait here or check back later.  
      You can check the transaction on the <a target="_blank" href="{{exploreTx}}{{creationInfo.stockTx}}">block explorer</a></div>
  </div>
</div>

<div class="container" *ngIf="mode == 'expired'">
  <div class="row">
    <div class="col-sm-6">Oops, it appears your stock was never mined.  This could be due to high network traffic or too low of a transaction fee. 
      Try increasing your tx fee <button (click)="tryAgain()" class="btn btn-primary">Ok</button></div>
  </div>
</div>

<div class="container" *ngIf="mode == 'no-wallet'">
  <div class="row"><div class="col-sm-12" style="text-align: center">You need to create or load a wallet before you can view your stock</div></div>
  <div class="row"><div class="col-sm-12" style="text-align: center"><a class="btn btn-primary" routerLink="/wallet"> Go to wallet</a> </div></div>
</div>

<div class="container" *ngIf="mode == 'loading'">
  Loading...
</div>

<div class="container" *ngIf="mode == 'new' || mode == 'edit'">
  <div class="row">
    <label for="profilePic" class="col-md-2 control-label">Profile Picture</label>
    <div class="col-md-7">
      <div class="file-upload">
        <label class="btn btn-default btn-file">
          Browse... 
          <input type="file" style="display: none;" (change)="fileChangeListener($event)">
        </label>
      </div>
      <img-cropper #cropper [image]="imgdata" [settings]="cropperSettings"></img-cropper>
    </div>

    <div class="col-md-3" *ngIf="imgdata.image">
      <label>Preview</label>
      <br>
      <span class="result rounded">
        <img [src]="imgdata.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
      </span>
    </div>

  </div>
  <div class="row top-buffer">
    <label for="fullname" class="col-md-2 control-label">Full Name</label>
    <div class="col-md-6">
      <input type="text" name="fullname" class="form-control" [(ngModel)]="fullname">
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row top-buffer">
    <label for="bio" class="col-md-2 control-label">Bio</label>
    <div class="col-md-9">
      <textarea name="bio" class="form-control" [(ngModel)]="bio"></textarea>
    </div>
  </div>

  <div class="row top-buffer">
    <label for="symbol" class="col-md-2 control-label">Ticker Symbol</label>
    <div class="col-md-3">
      <input type="text" name="symbol" class="form-control" [(ngModel)]="symb">
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-offset-2 col-md-5">
      <button class="btn btn-success" (click)="createStock()">{{mode == 'edit' ? 'Save' : 'Create your stock'}}</button>
      <button class="btn btn-default" (click)="resetForm()">Reset</button>
    </div>
  </div>
</div>
