$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~angular-toastr/dist/angular-toastr.css';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.top-buffer { 
  margin-top: 20px;
}

.pad-left {
  padding-left: 10px;
}


// Component styles are injected through gulp
/* inject:scss */

@import 'admin/admin';

@import 'blockchain/blockchain';

@import 'browse/browse';

@import 'cryptodex/cryptodex';

@import 'dashboard/dashboard';

@import 'main/main';

@import 'market/market';

@import 'network/network';

@import 'wallet/open/open';

@import 'wallet/wallet';

@import 'yourstock/yourstock';

@import '../components/footer/footer';

@import '../components/modal/modal';

@import '../components/oauth-buttons/oauth-buttons';

/* endinject */
