.market-form {
    border: 1px solid gray;
    padding: 2px;
    margin: 2px -4px;
}

.books {
    max-height: 500px;
    overflow-y: scroll;
}

.table-header {
    font-weight: bold;
    font-size: 16px;
}

.lbl {
    margin-top: 10px;
    font-size: 14px;
}

.gap {
    margin: 1px;
    padding: 1px;
}
