.drop-box {
    background: #4d5d6b;
    border: 5px dashed #DDD;
    //width: 200px;
    height: 145px;
    text-align: center;
    padding: 45px 25px;
    margin: 10px;
}

.dragover {
    border: 5px dashed blue;
}
