<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <h2>Select a wallet source</h2>
    <button class="btn btn-default" ng-click="openCtrl.mode='keystore'"><i class="fa fa-file"></i> Keystore</button>
    <!--<button class="btn btn-default" ng-click="mode='seed'"><i class="fa fa-file"></i> Seed Phrase</button>
      <button class="btn btn-default" ng-click="mode='keystore'"><i class="fa fa-file"></i> Trezor</button>
      <button class="btn btn-default" ng-click="mode='keystore'"><i class="fa fa-file"></i> Ledger</button>
      <button class="btn btn-default" ng-click="mode='keystore'"><i class="fa fa-file"></i> AuraMask</button>-->
      <button class="btn btn-default" ng-click="openCtrl.mode='privatekey'"><i class="fa fa-key"></i> PrivateKey</button>
    </div>
  </div>

  <div class="row top-buffer"></div>

  <div class="row" ng-show="openCtrl.mode=='keystore'">
    <div class="col-lg-4">
      <div class="btn btn-primary" ngf-select="openCtrl.readKeystore($file)">Choose File...</div>
      <h4>Common keystore locations</h4>
      <p>Windows: %appdata%\Aura\keystore</p>
      <p>Mac: ~/Library/Aura/keystore</p>
      <p>Linux: ~/.aura/keystore</p>
    </div>
    <div class="col-lg-3">
      <div ngf-drop ngf-select="openCtrl.readKeystore($file)" class="drop-box" ngf-drag-over-class="'dragover'">
        Drop keystore file here</div>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    </div>
  </div>
</div>
