<div class="container">
  <h2>Select a wallet source</h2>
  <button class="btn btn-default" ng-click="mode='keystore'"><i class="fa fa-file"></i> Keystore</button>
  <!--<button class="btn btn-default" ng-click="mode='seed'"><i class="fa fa-file"></i> Seed Phrase</button>
  <button class="btn btn-default" ng-click="mode='keystore'"><i class="fa fa-file"></i> Trezor</button>
  <button class="btn btn-default" ng-click="mode='keystore'"><i class="fa fa-file"></i> Ledger</button>
  <button class="btn btn-default" ng-click="mode='keystore'"><i class="fa fa-file"></i> AuraMask</button>
  <button class="btn btn-default" ng-click="mode='keystore'"><i class="fa fa-file"></i> PrivateKey</button>-->

    
</div>
