<div class="container" ng-hide="walletCtrl.wallet">
  <div class="row">
    <div class="col-sm-4">
      <a role="button" class="btn btn-primary" href="/wallet/open"><i class="fa fa-folder-open"></i> Load Wallet</a>
      <a role="button" class="btn btn-default" href="/wallet/new"><i class="fa fa-plus"></i> New Wallet</a>
    </div>
  </div>
  <!--TODO: show list of recent wallet addresses for this userId here-->
</div>

<div class="container" ng-show="walletCtrl.wallet">
  <div class="row well">
    <div class="col-sm-3">
      <img ng-src="{{walletCtrl.qrCodeUrl}}">
    </div>

    <div class="col-sm-6">
      <span class="address">0x{{walletCtrl.wallet.address}}</span>
      <i role="button" class="fa fa-clipboard pad-left" ngclipboard data-clipboard-text="0x{{walletCtrl.wallet.address}}" ngclipboard-success="walletCtrl.addressClipped(e);"></i>
      <br>
      <span ng-hide="walletCtrl.balance" class="balance">Balance: <i class="fa fa-spinner fa-pulse fa-fw"></i>
        <span class="sr-only">Loading...</span></span>
      <span ng-show="walletCtrl.balance" class="balance">{{walletCtrl.balance | fromWei}} {{walletCtrl.unit}}</span>
    </div>

    <div class="col-sm-3">
      <button class="btn btn-info btn-block" ng-click="walletCtrl.wallet = null">Change wallet</button>  
      <button class="btn btn-success btn-block" ng-click="showSend = !showSend">Send</button>  
    </div>
  </div>

  <div class="row panel panel-default" ng-show="showSend">
    <div class="panel-heading"> Send </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <h4>Recipient</h4>
          <div class="input-group">
            <input ng-model="walletCtrl.destination" class="form-control" placeholder="destination address" />
            <span class="input-group-btn">
              <button class="btn btn-default">
                <i class="fa fa-address-book"></i>
              </button>
            </span>
          </div>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
          <h4>Amount</h4>
          <div class="input-group">
            <input ng-model="walletCtrl.amount" class="form-control" placeholder="#.##" />
            <span class="input-group-addon"> {{walletCtrl.unit}} </span>
          </div>
        </div>

        <div class="col-sm-2 col-sm-offset-1">
          <h4>&nbsp;</h4>
          <button role="button" class="btn btn-primary" ng-click="walletCtrl.send()">Send</button>  
        </div>
      </div>

      <div class="row" ng-show="sendAdv">

      </div>
    </div>
    <div class="panel-footer">
      <a role="button" ng-click="sendAdv = !sendAdv">{{sendAdv ? 'hide advanced' : 'show advanced'}}</a>
    </div>

  </div>
</div>
</div>
