<div class="container" ng-show="yourstockCtrl.stockAddress">
  <div class="row">
    <div class="col-sm-4"><img src="yourstockCtrl.img" /></div>
    <div class="col-sm-4">{{yourstockCtrl.name}}<br>Price: {{yourstockCtrl.price}}<br>Market Cap: {{yourstockCtrl.mktCap}}</div> 
    <div class="col-sm-4"><button class="btn btn-success">Buy</button><br><button class="btn btn-default">Sell</button></div>
  </div>
</div>

<div class="container" ng-show="!yourstockCtrl.stockAddress">
  <div class="row">
    <div class="col-sm-12" style="text-align: center">
      <button class="btn btn-success" ng-click="yourstockCtrl.createStock()">Create your stock</button>
    </div>
  </div>

   <form class="form-horizontal" ng-submit="submitStudnetForm()" role="form">
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-6">
                <input type="text" id="firstName" class="form-control" ng-model="yourstockCtrl.fullName" />
            </div>
            <div class="col-sm-3"></div>

        </div>
        
        <div class="form-group">
            <label for="dob" class="col-sm-3 control-label">DoB</label>
            <div class="col-sm-2">
                <input type="date" id="dob" class="form-control" ng-model="student.DoB" />
            </div>
            <div class="col-sm-7"></div>
        </div>
        
        <div class="form-group">
            <label for="gender" class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-2">
                <select id="gender" class="form-control" ng-model="student.gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="col-sm-7"></div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                <span><b>Training Location</b></span>
                <div class="radio">
                    <label><input value="online" type="radio" name="training" ng-model="student.trainingType" />Online</label>
                </div>
                <div class="radio">
                    <label><input value="onsite" type="radio" name="training" ng-model="student.trainingType" />OnSite</label>
                </div>
            </div>
            <div class="col-sm-7">
                <span><b>Main Subjects</b></span>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="student.maths" />Maths</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="student.physics" />Physics</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"  ng-model="student.chemistry" />Chemistry</label>
                </div>
            </div>
        </div>

        <input type="submit" value="Save" class="btn btn-primary col-sm-offset-3" />
        <input type="reset" value="Reset" ng-click="resetForm()" 
    </form>


</div>
