<div class="container" ng-show="yourstockCtrl.stockAddress">
  <div class="row">
    <div class="col-sm-4"><img src="yourstockCtrl.img" /></div>
    <div class="col-sm-4">{{yourstockCtrl.fullName}}<br>{{yourstockCtrl.bio}}</div>
    <div class="col-sm-4">Price: {{yourstockCtrl.price}}<br>Market Cap: {{yourstockCtrl.mktCap}}<br> 
      <button class="btn btn-success">Buy</button><button class="btn btn-default">Sell</button></div>
  </div>
</div>

<div class="container" ng-show="!yourstockCtrl.stockAddress && yourstockCtrl.stockTx">
  <div class="row">
    <div class="col-sm-6"></div>
  </div>
</div>

<div class="container" ng-show="!yourstockCtrl.stockAddress">

  <form class="form-horizontal" ng-submit="yourstockCtrl.createStock()" role="form">
    <!--div class="form-group">
      <div class="col-sm-4">
        <div ngf-drop ngf-select="yourstockCtrl.readImage($file)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-pattern="'image/*'"
             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
             ngf-resize="{width: 100, height: 100}" >
             Drop profile image here (click to browse)</div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
      </div>
      <div class="col-sm-4">
        <img ng-src="{{yourstockCtrl.img}}" />
      </div> 
    </div-->

    <div class="row">
      <label for="profilePic" class="col-sm-3 control-label">Profile Picture</label>
      <div class="col-sm-9">
        <button ngf-select ng-model="yourstockCtrl.picFile" accept="image/*"> Select Picture</button>
        <div ngf-drop ng-model="yourstockCtrl.picFile" ngf-pattern="image/*" class="cropArea">
          <img-crop image="yourstockCtrl.picFile  | ngfDataUrl" result-image="yourstockCtrl.croppedDataUrl"> </img-crop>
        </div>
      </div>
    </div>

    <div class="row">
      <label for="profilePrev" class="col-sm-3 control-label">Profile Preview</label>
      <div class="col-sm-9">
        <div>
          <img ng-src="{{yourstockCtrl.croppedDataUrl}}" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="fullName" class="col-sm-3 control-label">Full Name</label>
      <div class="col-sm-6">
        <input type="text" id="fullName" class="form-control" ng-model="yourstockCtrl.fullName" />
      </div>
      <div class="col-sm-3"></div>

    </div>

    <div class="form-group">
      <label for="bio" class="col-sm-3 control-label">Bio</label>
      <div class="col-sm-9">
        <textarea id="bio" class="form-control" ng-model="yourstockCtrl.bio" />
      </div>
    </div>

    <div class="form-group">
      <label for="symbol" class="col-sm-3 control-label">Symbol</label>
      <div class="col-sm-3">
        <input type="text" id="symbol" class="form-control" ng-model="yourstockCtrl.symb" />
      </div>
      <div class="col-sm-6"></div>
    </div>

    <div class="row"><a role="button" class="pull-right" ng-click="yourstockCtrl.adv = !yourstockCtrl.adv">{{yourstockCtrl.adv ? 'hide' : 'show'}} advanced</a></div>

    <div class="form-group" ng-show="yourstockCtrl.adv">
      <label for="total" class="col-sm-3 control-label">Total Supply</label>
      <div class="col-sm-4">
        <input type="number" id="total" class="form-control" ng-model="yourstockCtrl.total" />
      </div>
      <div class="col-sm-5"></div>
    </div>

    <div class="form-group" ng-show="yourstockCtrl.adv">
      <label for="decimals" class="col-sm-3 control-label">Decimals</label>
      <div class="col-sm-1">
        <input type="number" id="decimals" class="form-control" ng-model="yourstockCtrl.decimals" />
      </div>
      <div class="col-sm-8"></div>
    </div>

    <input type="submit" value="Create your stock" class="btn btn-success col-sm-offset-3" />
    <input type="reset" value="Reset" ng-click="yourstockCtrl.resetForm()" />
  </form>


</div>
