<div class="container" *ngIf="!wallet">
  <div class="row">
    <div class="col-sm-4">
      <a role="button" class="btn btn-primary" routerLink="/wallet/open"><i class="fa fa-folder-open"></i> Load Wallet</a>
      <a role="button" class="btn btn-default" routerLink="/wallet/new"><i class="fa fa-plus"></i> New Wallet</a>
    </div>
  </div>

  <div class="row panel panel-default top-buffer">
    <div class="panel-heading">Recent Wallets</div>
    <div class="panel-body">
      <div class="row wallet-row" *ngFor="let wlt of node.walletList" (click)="selectWallet(wlt)">
        <div class="col-sm-3 top-gap">{{wlt.name}}</div>
        <div class="col-sm-5 top-gap">0x{{wlt.address}}</div>
        <div class="col-sm-4">
          <button class="btn btn-warn pull-right" (click)="forgetWallet(wlt, $event)">Forget</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container" *ngIf="wallet">
  <div class="row well">
    <div class="col-sm-3">
      <ngx-qrcode [qrc-value]="'0x' + wallet.address" qrc-class="aclass" qrc-errorCorrectionLevel="L"></ngx-qrcode>
    </div>

    <div class="col-sm-6">
      <span class="wallet-name">{{wallet.name}}</span>
      <br>
      <span class="address">0x{{wallet.address}}</span>
      <i role="button" class="fa fa-clipboard pad-left" ngxClipboard [cbContent]="'0x' + wallet.address" (cbOnSuccess)="addressClipped($event);"></i>
      <br>
      <span *ngIf="!balance" class="balance">Balance: <i class="fa fa-spinner fa-pulse fa-fw"></i>
        <span class="sr-only">Loading...</span></span>
      <span *ngIf="balance" class="balance">{{balance | baseUnit:"wei"}} {{unit}}</span>
    </div>

    <div class="col-sm-3">
      <button class="btn btn-info btn-block" (click)="wallet = null">Change wallet</button>  
      <button class="btn btn-success btn-block" (click)="showSend = !showSend">Send</button>  
    </div>
  </div>

  <div class="row panel panel-default" *ngIf="showSend">
    <div class="panel-heading"> Send </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <h4>Recipient</h4>
          <div class="input-group">
            <input [(ngModel)]="destination" class="form-control" placeholder="destination address" />
            <span class="input-group-btn">
              <button class="btn btn-default">
                <i class="fa fa-address-book"></i>
              </button>
            </span>
          </div>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
          <h4>Amount</h4>
          <div class="input-group">
            <input [(ngModel)]="amount" class="form-control" placeholder="#.##" />
            <span class="input-group-addon"> {{unit}} </span>
          </div>
        </div>

        <div class="col-sm-2 col-sm-offset-1">
          <h4>&nbsp;</h4>
          <button role="button" class="btn btn-primary" (click)="send()">Send</button>  
        </div>
      </div>

      <div class="row" *ngIf="sendAdv">

      </div>
    </div>
    <div class="panel-footer">
      <a role="button" (click)="sendAdv = !sendAdv">{{sendAdv ? 'hide advanced' : 'show advanced'}}</a>
    </div>

  </div>

  <div class="row panel panel-default">
    <div class="panel-heading">Wallet Stocks<a role="button" class="pull-right" (click)="toggleTrack()">{{track ? '-' : '+'}} Track Stock</a></div>
    <div class="panel-body">
      <div class="row" *ngIf="track" style="padding-bottom: 15px">
        <div class="col-sm-4"><input class="form-control" [(ngModel)]="stockToAdd" placeholder="0xA1b2C3..."></div>
        <div class="col-sm-3"><input class="form-control" [(ngModel)]="addStockName" placeholder="Name..."></div>
        <div class="col-sm-3"><input class="form-control" [(ngModel)]="addStockNotes" placeholder="Notes..."></div>
        <div class="col-sm-2"><button class="btn btn-success" (click)="addStock()">Save</button></div>
      </div>
      <div class="row">
        <div class="col-sm-4">Stock Address</div>
        <div class="col-sm-3">Name</div>
        <div class="col-sm-3" style="overflow: hidden">Notes</div>
        <div class="col-sm-2">Balance</div>
      </div>
      <div class="row" *ngFor="let stock of node.walletStocks">
        <div class="col-sm-4">0x{{stock.address}}</div>
        <div class="col-sm-3">{{stock.address == wallet.address ? 'Your Stock' : stock.name}}</div>
        <div class="col-sm-3" style="overflow: hidden">{{stock.notes}}</div>
        <div class="col-sm-2">{{stock.balance | baseUnit:"token"}}</div>
      </div>
      <div class="row" *ngIf="node.walletStocks.length == 0">
        <div class="col-sm-12">This wallet is not tracking any stocks.  Create your own stock or add someone elses with the "Track Stock" button.</div>
      </div>
    </div>
  </div>
</div>
