<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Enter your wallet password</h4>
      <button type="button" class="close xclose" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <div>
        <div>
          <input class="form-control" [(ngModel)]="password" placeholder="********" type="password">
        </div>
        <div style="text-align: right"> 
          <label for="checkbox">Keep unlocked</label>
          <input type="checkbox" name="checkbox" id="checkbox" [(ngModel)]="unlock">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warn" (click)="close()">Cancel</button>
      <button class="btn btn-primary" (click)="ok()">Ok</button>
    </div>
  </div>
</div>
