/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-simple-modal/dist/styles/simple-modal.scss';

@import '../node_modules/ng2-toastr/bundles/ng2-toastr.min.css';
@import '~bootstrap3/dist/css/bootstrap.min.css';

.top-buffer { margin-top: 20px; }

.top-gap { padding-top: 8px; }

.wallet-row { 
    cursor: pointer;
}

.wallet-row:hover {
    background-color: #348e42;
}

.wallet-name {
    text-decoration: underline;
}

.one-line {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
