<header class="hero-unit" id="banner">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-lg-8">
        <img src="assets/images/stacked-512.png" alt="YouStock" />
        <br /><br />
      </div>
      <div class="col-lg-4">
        <p class="lead">Join the community of tokenized selfhood and start trading people stocks. <a routerLink="/about">Read more...</a></p>
        <a role="button" class="btn btn-default" routerLink="/wallet" style="padding-right: 20px">Create or load a wallet</a> 
      </div>
    </div>
  </div>
</header>

